<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>スプリントバックログ　タスクリスト</title>
  <link rel="stylesheet" href="./main4.css">
</head>
<body>
        <div id="app">
            <h1>スプリントバックログ　タスクリスト</h1>
            <div id="action">
                <h3>【操作】</h3>
                <button v-on:click="openModal(null)">タスクの追加</button>
                
            </div>
            <h3>【フィルター】</h3>
            <div id="fillter">
                <div id="fillterState">
                    ステータス：
                    <label v-for="label in options">
                        <input type="radio"
                            v-model="selectState"
                            v-bind:value="label.value">{{ label.label }}
                    </label>
                </div>
                <div id="fillterPerson">
                    担当者：
                    <input type="text"
                            v-model="selectPerson">
                </div>
            </div>
            
            <h3>【一覧】</h3>
            <ul class="contents">
                <table>
                    <thead v-pre>
                        <tr>
                            <th>ID</th>
                            <th>タスク</th>
                            <th>担当者</th>
                            <th>期日</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                        v-for="item in computedTodos"
                        v-bind:key="item.id"
                        v-bind:class="checkLimit(item)"
                        v-on:click="openModal(item)">
                            <th>{{ item.id }}</th>
                            <td>{{ item.task }}</td>
                            <td>{{ item.person }}</td>
                            <td>{{ item.endDate }}</td>
                        </tr>
                    </tbody>
                </table>
            </ul>

            <div id="overlay" v-show="showContent">
                <form id="inputContent" class="add-form">
                    <h3>タスク</h3>
                    <input type="hidden" ref="id">
                    <div>
                        タスク<input type="text" ref="task">
                    </div>
                    <div v-show="!isNew">
                            ステータス
                            <select ref="state">
                                <option value=0>未着手</option>
                                <option value=1>実行中</option>
                                <option value=2>レビュー中</option>
                                <option value=3>完了</option>
                            </select>
                    </div>
                    <div id="term">
                        期日<input type="date" ref="endDate">
                    </div>
                    <div>
                        担当者<input type="text" ref="person">
                    </div>
                    <div>
                        概要<input id="comment" type="text" ref="comment">
                    </div>
                    <button v-on:click="doAdd" v-show="isNew">追加</button>
                    <button v-on:click="doChange()" v-show="!isNew">変更</button>
                    <button v-on:click="doRemove()" v-show="!isNew">削除</button>
                    <button v-on:click="closeModal">閉じる</button>
                </form>
            </div>
        </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="./main4.js"></script>
</html>